// has classes globaly inheri
@import "../css/inherit.scss";


.head-page {
  height: 415px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../assets/img/HomePage.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  z-index: -2;
  .address-home {
    max-width: 25rem;
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 0.97;
    font-family: $fontSemiBold;
  }
}

.trendingCars {
  margin: 4rem auto ;
  .content-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .car_ {
    margin: 0.5rem 0.4rem 1rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    .address-car {
      display: block;
      color: rgb(71, 71, 71);
      text-align: center;
    }

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      border: 1px solid $btnColor;
    }
  }
}

.search-car {
  background-color: $mainColor;
  color: white;
  z-index: 0;
  top: -7%;
  padding: 1rem;
  border-radius: 5px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;

  .btns-search {
    margin-bottom: 1.1rem;
    display: flex;
    & > * {
      padding: 0.3rem 1.6rem;
      border: 1px solid white;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color: #fff;
        color: black;
      }
    }

    li:nth-child(1) {
      border-radius: 3px 0 0 3px;
    }

    li:nth-child(2) {
      border-radius: 0 3px 3px 0;
    }

    .active {
      background-color: white;
      color: black;
      position: relative;
      z-index: 1000;
      &::before {
        @extend .rotation;
        left: 45%;
        bottom: -3px;
        transform: rotate(45deg);
        z-index: -1;
      }
    }
  }

  .advanced-search {
    position: absolute;
    top: 30px;
    right: 35px;
    color: white;
  }
}

.container-inputs {
  & > * {
    width: 33.3333%;
    float: left;
  }

  .input-2 {
    display: flex;
    align-items: flex-start;
    select {
      flex-basis: 60% !important  ;
    }

    input {
      flex-basis: 40%;
      padding: 7px;
      box-sizing: border-box;
    }
  }

  #search {
    background-color: $btnColor;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 8px 0;
    border-radius: 0 0 3px 0;
  }
}

.chooseCar {
  background-color: #f4f5f5 ;
  padding: 2rem 0;
  mark {
    font-size: 18px;
    background-color: $btnColor;
    color: white;
    padding: 0.1rem 1rem;
  }
  .type_cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 2rem;
    .cars {
      flex-basis: 22%;
      margin-right: 3%;
      h6 {
        text-align: center;
        font-family: $fontSemiBold;
        color: $btnColor;
      }

      img {
        width: 100%;
        transition: transform 0.5s;
      }

      &:hover {
        img {
          transform: scale(1.04);
        }
      }
    }
  }
}

.reviews-expert {
  .address {
    margin: 0;
    margin-top: 2rem;
  }
  .text-muted {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .content-article {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .article {
    width: calc(50% - 16px);
    .img-article {
      width: 100%;
    }

    .address-article {
      margin: 10px 0;
      font-family: $fontSemiBold;
      color: black;
      font-size: 17px;
    }

    .para-art {
      color: rgb(97, 96, 96);
      line-height: 1.6;
      margin: 20px 0;
      margin-top: 10px;
      a {
        color: $btnColor;
        font-family: $fontSemiBold;
      }
    }

    .who-say {
      display: flex;
      img {
        width: 50px;
      }
      .details {
        span {
          display: block;
          margin-left: 10px;
        }

        span:nth-child(1) {
          color: black;
          font-family: $fontSemiBold;
        }

        span:nth-child(2) {
          color: rgb(97, 96, 96);
          font-size: 15px;
        }
      }
    }
  }

  .more-articles {
    .more-para {
      font-size: 2rem;
      font-family: $fontSemiBold;
      color: rgb(155, 153, 153);
      text-align: center;
      margin: 2rem 0;
    }
    .content-more {
      display: flex;
      justify-content: space-between;
      .article {
        width: 31.33%;
      }
    }
  }
}


.populer-search{
    padding: 3rem 0 ;

    .address-search{
        margin-top: 3rem ;
        font-family: $fontSemiBold;
    }
    
    a{
        color: $btnColor;
        font-size: 14px ;
        display: block ;
    }
}



// media 850px
@media (max-width: 850px) {
  .container-inputs {
    & > * {
      width: 50%;
    }

    .input-2 {
      width: 100%;
      select {
        flex-basis: 50% !important ;
      }

      input {
        flex-basis: 50%;
      }
    }

    #search {
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }

  .search-car {
    padding: 1.8rem 1rem 2.8rem;
    .advanced-search {
      top: initial !important ;
      left: 32px;
      right: unset;
      bottom: 10px;
    }
  }

  .cars {
    flex-basis: 30% !important ;
  }
}

//----------------------------- section start with make
.Start-Make {
padding: 2rem 0;
  .content-start {
    display: flex;
    margin: 2rem 0;
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .content-more {
    flex-direction: column;
    .article {
      display: flex;
      width: 100% !important ;
      justify-content: space-between !important ;
      margin-bottom: 2rem ;
      .display-small {
        min-width: 250px ;
        .address-article{
            font-size: 16px ;
            margin: 0 ;
            margin-top: 2px ;
        }

        .img-article{
            width: 100% ;
        }
      }
      .small-content {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .who-say{
            align-self: flex-end ;
            padding: 0 1rem;
            img{
                width: 30px ;
            }
            
            .details{
                span:nth-child(1){
                    font-size: 15px ;
                }

                span:nth-child(2){
                    font-size: 14px ;
                }
            }
        }
      }
      .para-art {
        margin: 0 !important ;
      }

    }
  }
}

@media (max-width: 600px) {
  .address-home {
    font-size: 2.8rem !important ;
    width: 17rem;
    padding-top: 3rem !important ;
    margin: 0 auto;
    text-align: center;
  }

  .cars {
    flex-basis: 45% !important ;
  }

  .content-article{
      .article{
          width: 100% ;
      }

      .article:nth-child(2){
          display: none ;
      }
  }
}
