// has classes globaly inheri
@import "../css/inherit.scss";

body{
  min-height: 100% ;
}

main{
  min-height: 60% ;
}

.head-page {
  height: 415px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../assets/img/HomePage.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  z-index: -2;
  .address-home {
    max-width: 25rem;
    font-size: 5rem;
    padding-top: 1rem;
    line-height: 0.97;
    font-family: $fontBold;
  }
}

.trendingCars {
  margin: 4rem auto ;
  .content-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .car_ {
    margin: 0.5rem 0.4rem 1rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    .address-car {
      display: block;
      color: rgb(71, 71, 71);
      text-align: center;
    }

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      border: 1px solid $btnColor;
    }
  }
}

.search-car {
  background-color: $mainColor;
  color: white;
  z-index: 0;
  top: -7%;
  padding: 1rem;
  border-radius: 5px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;

  .btns-search {
    margin-bottom: 1.1rem;
    display: flex;
    & > * {
      padding: 0.3rem 1.6rem;
      border: 1px solid white;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color: #fff;
        color: black;
      }
    }

    li:nth-child(1) {
      border-radius: 3px 0 0 3px;
    }

    li:nth-child(2) {
      border-radius: 0 3px 3px 0;
    }

    .active {
      background-color: white;
      color: black;
      position: relative;
      z-index: 1000;
      &::before {
        @extend .rotation;
        left: 45%;
        bottom: -3px;
        transform: rotate(45deg);
        z-index: -1;
      }
    }
  }

  .advanced-search {
    position: absolute;
    top: 30px;
    right: 35px;
    color: white;
  }
}

.container-inputs {
  & > * {
    width: 33.3333%;
    float: left;
  }

  .input-2 {
    display: flex;
    align-items: flex-start;
    select {
      flex-basis: 60% !important  ;
    }

    input {
      flex-basis: 40%;
      padding: 7px;
      box-sizing: border-box;
    }
  }

  #search {
    background-color: $btnColor;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 8px 0;
    border-radius: 0 0 3px 0;
  }
}

.chooseCar {
  background-color: #f4f5f5 ;
  padding: 2rem 0;
  mark {
    font-size: 18px;
    background-color: $btnColor;
    color: white;
    padding: 0.1rem 1rem;
  }
  .type_cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 2rem;
    .cars {
      flex-basis: 22%;
      margin-right: 3%;
      h6 {
        text-align: center;
        font-family: $fontBold;
        color: $btnColor;
      }

      img {
        width: 100%;
        transition: transform 0.5s;
      }

      &:hover {
        img {
          transform: scale(1.04);
        }
      }
    }
  }
}

.reviews-expert {
  .address {
    margin: 0;
    margin-top: 2rem;
  }
  .text-muted {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .content-article {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .article {
    width: calc(50% - 16px);
    .img-article {
      width: 100%;
    }

    .address-article {
      margin: 10px 0;
      font-family: $fontBold;
      color: black;
      font-size: 17px;
    }

    .para-art {
      color: rgb(97, 96, 96);
      line-height: 1.6;
      margin: 20px 0;
      margin-top: 10px;
      a {
        color: $btnColor;
        font-family: $fontBold;
      }
    }

    .who-say {
      display: flex;
      img {
        width: 50px;
      }
      .details {
        span {
          display: block;
          margin-left: 10px;
        }

        span:nth-child(1) {
          color: black;
          font-family: $fontBold;
        }

        span:nth-child(2) {
          color: rgb(97, 96, 96);
          font-size: 15px;
        }
      }
    }
  }

  .more-articles {
    .more-para {
      font-size: 2rem;
      font-family: $fontBold;
      color: rgb(155, 153, 153);
      text-align: center;
      margin: 2rem 0;
    }
    .content-more {
      display: flex;
      justify-content: space-between;
      .article {
        width: 31.33%;
      }
    }
  }
}


.populer-search{
    padding: 3rem 0 ;

    .address-search{
        margin-top: 3rem ;
        font-family: $fontBold;
    }
    
    a{
        color: $btnColor;
        font-size: 14px ;
        display: block ;
    }
}



// for page Sign in , Sign up

.header-label{
  text-align: center ;
  padding: 2rem 0 ;
  padding-bottom: 0 ;
  font-size: 1.2666rem ;
  border-bottom: 1px solid $borderColor;

  label{
    padding: 1rem ;
    padding-bottom: .5rem ;
    margin: 0 10px ;
    color: grey;
    cursor: pointer;
    &:hover{
      color: black ;
    }
  }

  .active{
    color: black ;
    font-family: $fontBold;
    border-bottom: 3px solid $btnColor;
  }
}





.btn-facebook{
  margin: 1.5rem 0 ;
  display: inline-block;
  background-color: rgb(63, 63, 160) ;
  color: white;
  padding: .5rem 4rem ;
  border-radius: 3px ;
  &:hover{
    color: white;
  }
}


.container-signup , .container-signin{
  text-align: center;
}

.content-form{
  position: relative;
  margin: 0 auto ;
  max-width: 656px;
  .line-or{
    width: 100% ;
    border-top: 1px solid $borderColor ;
    text-align: center;
    span{
      display: inline-block;
      background:rgb(255, 255, 255) ;
      padding: 0px 5px ;
      transform: translateY(-12px );
    }
  }

  form{
    max-width: 328px ;
    margin: 0 auto ;
    .address-form{
      font-family: $fontBold;
      margin-bottom: 1.6rem ;
    }
  }

  .input-style{
    border: none ;
    padding: 0;
    margin-bottom: .6rem ;
    label{
      font-family: $fontBold;
      margin-top: 1rem ;
      color: rgb(61, 60, 60);
      margin: 0;
      margin-bottom: 3px ;
    }
  
    input{
      padding: .5rem 1rem ;
      border: 1px solid $borderColor ;
    }

  }

  
  .btn-signup{
    background-color: rgb(138, 58, 58);
 
  }

  .btn-select{
    margin-bottom: 5rem ;
  }

  .forget-pass{
    background:transparent ;
    color: rgb(112, 110, 110) ;
    &:hover{
      color: rgb(33, 33, 199);

    }
  }

 
}



// about page research 
.container-research{
  & > * {
    width: 25% ;
  }
}

.researchCar{
  background:transparent ;
}

.content-research{
  display: block;
  padding-top: 8rem ;
  h1 , p {
    text-align: center;
    margin: 0 ;
    padding: 0;
  }

  h1{
    font-size: 2.8rem;
    font-family: $fontBold;
  }

  p{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: rgb(209, 208, 208);
  }
}


.tools-advice{
  border-top: 1px solid $borderColor ;
  padding-top: 1rem ;
  .text-muted{
    text-align: center;
    font-size: 1.2rem;
  }


  .container-choices{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-items: center;
    .box-content{
      box-sizing: border-box;
      padding: 1.5rem;
      margin: .5rem 0;
      background: rgb(240, 240, 240);
      color: black ;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;
      transition: box-shadow .5s ;
      &:hover{
        box-shadow: $shadow;

      }
      img{
        width: 35px ;
        opacity: .6;
        margin-bottom: .5rem ;
      }
      h6{
        font-family: $fontBold;
      text-align: center;
      }

      .linker{
        color: rgb(36, 36, 199) ;
        font-size: 13px ;
        text-align: center ;
      }
    }
  }
}

.address-box{
  color: black ;
  font-family: $fontBold;
  font-size: 1.3rem;
  padding: 1rem;
  display: block;
  text-align: center;
}




.appear {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select , .cb-style {
  @extend .appear;
  background: url(../../assets/svg/small-down-arrow-icon-15593.png);
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right;
  background-origin: content-box;
}







// media 850px
@media (max-width: 850px) {
  .container-inputs {
    & > * {
      width: 50%;
    }

    .input-2 {
      width: 100%;
      select {
        flex-basis: 50% !important ;
      }

      input {
        flex-basis: 50%;
      }
    }

    #search {
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
  }

  .search-car {
    padding: 1.8rem 1rem 2.8rem;
    .advanced-search {
      top: initial !important ;
      left: 32px;
      right: unset;
      bottom: 10px;
    }
  }

  .cars {
    flex-basis: 30% !important ;
  }
}

//----------------------------- section start with make
.Start-Make {
padding: 2rem 0;
  .content-start {
    display: flex;
    margin: 2rem 0;
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .content-more {
    flex-direction: column;
    .article {
      display: flex;
      width: 100% !important ;
      justify-content: space-between !important ;
      margin-bottom: 2rem ;
      .display-small {
        min-width: 250px ;
        .address-article{
            font-size: 16px ;
            margin: 0 ;
            margin-top: 2px ;
        }

        .img-article{
            width: 100% ;
        }
      }
      .small-content {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .who-say{
            align-self: flex-end ;
            padding: 0 1rem;
            img{
                width: 30px ;
            }
            
            .details{
                span:nth-child(1){
                    font-size: 15px ;
                }

                span:nth-child(2){
                    font-size: 14px ;
                }
            }
        }
      }
      .para-art {
        margin: 0 !important ;
      }

    }
  }
}

@media (max-width: 600px) {
  .address-home {
    font-size: 2.8rem !important ;
    width: 17rem;
    padding-top: 3rem !important ;
    margin: 0 auto;
    text-align: center;
  }

  .cars {
    flex-basis: 45% !important ;
  }

  .content-article{
      .article{
          width: 100% ;
      }

      .article:nth-child(2){
          display: none ;
      }
  }
}
