@import '../css/styles.scss';

@mixin flexer($justify , $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

// function to rotate 

.rotation{
    width: 20px ;
    background-color: #fff ;
    height: 20px ;
    position: absolute;
    content: '';
}





$fontBold : "Sans SemiBold" ;
$fontReg : "Sans Regular";

// primary Color 
$mainColor : #142850 ;
$btnColor : #00909e ;