@font-face {
  src: url("../assets/font/SourceSansPro-Regular.ttf");
  font-family: "Sans Regular";
}

@font-face {
  src: url("../assets/font/SourceSansPro-SemiBold.ttf");
  font-family: "Sans SemiBold";
}

body, html {
  height: 100%;
}

.address-header {
  padding: 0.5rem 0;
  padding-bottom: 0.8rem;
  border: 1px solid #ddd;
}

.address-header .address {
  text-align: left;
  font-size: 1.8rem;
}

.filterContent {
  width: 300px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-top: none;
  margin-bottom: 2rem;
}

.filterContent .result {
  margin: 1rem 0;
  margin-top: 0;
  padding-top: 1rem;
  text-align: center;
}

.filterContent .result span {
  font-family: "Sans SemiBold";
}

.filterContent .style-section {
  padding: 0.8rem 1rem;
  border-top: 1px solid #ddd;
}

.filterContent .style-section .address-form {
  font-family: "Sans SemiBold";
  font-size: 16.666px;
  display: inline-block;
}

.filterContent .style-section .input-style {
  border: none;
  padding: 0;
  margin-top: 12px;
  width: 100%;
}

.filterContent .style-section .input-style label {
  display: block;
  margin: 0;
  margin-bottom: 3px;
}

.filterContent .style-section .input-style select,
.filterContent .style-section .input-style input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.filterContent .style-section .input-2 {
  margin-bottom: 12px;
}

.check-1 label, .radio-btn label, .input-style label {
  color: #727272;
}

.check-1 input:checked + label, .radio-btn input:checked + label, .input-style input:checked + label {
  color: black;
}

#newSearch .input-style {
  border: none;
}

#newSearch .input-style:nth-child(1) {
  padding-top: 1rem;
}

#newSearch select {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ddd;
}

#newSearch .btn-select {
  margin: 0;
}

.head-btn {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-btn #Sort {
  display: none;
}

.head-btn label {
  padding: 0.5rem 2.1rem;
  text-align: center;
  cursor: pointer;
  margin: 0;
  border-radius: 3px 3px 0 0;
  background-color: #f0f0f0;
  color: #7a7a7a;
}

.head-btn .checked {
  background-color: #fff;
  color: black;
  border: 1px solid #ddd;
  border-bottom: none;
  font-family: "Sans SemiBold";
}

.details {
  display: none;
}

.address-inp {
  color: black !important;
}

.appear, select, .cb-style, .globalCss, input[type="radio"], input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select, .cb-style {
  background: url(../../assets/svg/small-down-arrow-icon-15593.png);
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right;
  background-origin: content-box;
}

.globalCss, input[type="radio"], input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: relative;
  border: 1px solid #c6c6c6;
  color: #666;
  top: 1px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 4px;
  outline: none;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked::before {
  content: "";
  background: #00909e;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 1.8px;
  left: 2px;
  border-radius: 50%;
}

input[type="checkbox"] {
  border-radius: 1px;
  height: 14px;
  width: 14px;
  top: 2px;
}

input[type="checkbox"]:checked {
  background-color: #00909e;
}

main .my_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.content-cars {
  display: inline-block;
  width: calc(100% - 310px);
}

.content-cars .sort-cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
}

.content-cars .sort-cars label {
  font-family: "Sans SemiBold";
  font-size: 16px;
  padding-top: 5px;
}

.content-cars .sort-cars select {
  margin-left: 10px;
  padding: .3rem .6rem;
  border: 1px solid #ddd;
  background-color: white !important;
  width: 30% !important;
}

.car-details {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car-details > * {
  width: 50%;
}

.car-details form {
  padding: .5rem 1rem;
  position: relative;
}

.car-details form .btns {
  position: absolute;
  right: 1rem;
}

.car-details form .btns .favorite {
  width: 16.666px;
  margin-right: 4px;
  fill: transparent;
  stroke: #3d3d3d;
  cursor: pointer;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.car-details form .btns .favorite:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.car-details form .btns .fill {
  fill: red;
}

.car-details form .btns label:nth-child(2) {
  margin-right: 10px;
}

.car-details form span {
  font-size: 15px;
  font-family: "Sans SemiBold";
  color: #6e6d6d;
}

.car-details form .desc-car .Used {
  display: block;
  color: #1e1ec4 !important;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.car-details form .desc-car .price {
  display: inline;
  padding-right: 10px;
}

.car-details form .desc-car .mile {
  border-left: 1px solid #ddd;
  padding-left: 5px;
}

.car-details form .desc-car .nameCar {
  font-family: "Sans SemiBold";
  margin: 1rem 0;
}

.car-details form .desc-car .specific-car .keySp {
  color: black;
}

.car-details form .desc-car .specific-car .ValueSP {
  font-family: "Sans Regular";
  margin-left: 5px;
}

.details .Color {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: 1px solid #ddd;
  margin-right: 5px;
}

.details .check-1:nth-child(1) .Color {
  background: #cec872;
}

.details .check-1:nth-child(2) .Color {
  background: black;
}

.details .check-1:nth-child(3) .Color {
  background: #fff;
}

.details .check-1:nth-child(4) .Color {
  background: red;
}

.Features-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.deal {
  padding: .2rem .6rem;
  text-transform: uppercase;
  font-size: 12px !important;
  margin-right: 3px;
  min-width: 80px;
  text-align: center;
  background: #142850;
  color: white !important;
}

.great {
  background-color: #00909e !important;
}

.good {
  color: #fff !important;
  background-color: #559e55;
}

.btn-call {
  display: none;
}

.cb-style {
  float: right;
  cursor: pointer;
  background-position: center center;
  border: none !important;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cb-style:checked:before {
  background-image: none !important;
}

.cb-style:checked {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: transparent !important;
}

.cb-style:checked + .details {
  display: block;
}
/*# sourceMappingURL=index.css.map */