@import '../variables.scss';

.progressbar {
  margin: 3rem 0 ;
  padding: 0;
  counter-reset: step;
  position: relative;
  z-index: -1;
}
.progressbar li {
  list-style-type: none;
  width: calc(100% / 5);
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  z-index: -1;
  width: 50px;
  height: 50px;
  content: counter(step);
  counter-increment: step;
  line-height: 45px;
  font-size: 18px ;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 22px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: $btnColor;
}


.progressbar li.active:before {
    background-color: $btnColor ;
    color: white ;
    border: none ;
}

.progressbar li.active + li:after {
  background-color: $btnColor;
}

.progressbar .checked{
    color: #69b969 !important ;
}

.progressbar li.checked + li:after {
    background-color: #69b969;
  }

.progressbar .checked::before{
    background-color: #69b969 !important  ;
    background: url(../../assets/svg/icons8-checkmark.svg) no-repeat center center ;
    content: '';
    background-size: 19px 19px ;
}



// end style progrees 

.breadcrumb{
    padding:  0;
}

.title-para{
    font-size: 1.5rem ;
    margin: 0 ;
}

.title-offer{
    color: $address ;
    font-family: $fontBold ;
}


.accordion{
    margin: 0 ;
    width: 100% ;
}

.collapse-header{
    display: flex;
    font-size: 1.5rem ;
    text-decoration: none ;
    color: grey;
    justify-content: space-between;
    text-decoration: none !important  ;
    align-items: center;
    &:hover{
        color: $mainColor ;
        text-decoration: none !important  ;
        
    }

    .collapse-arrow{
        background: url(../../assets/svg/small-down-arrow-icon-15593.png) no-repeat center center ;
        background-size: 22px 22px  ;
        width: 20px  ;
        transition: transform .4s ;
        height: 20px ;
        background-origin: content-box;
    }
}




.label-style{
    display: block ;
    margin-top: 1.5rem ;
    font-family: $fontBold ;
}

.btn-style{
    font-family: unset ;
    font-size: 16px ;
    margin: 1.5rem 0;

}


.container-article{
    .label-move{
        display: flex;
        justify-content: center;
        color: rgb(107, 106, 106);
        border-bottom: 1px solid $borderColor ;
        label{
            padding: .5rem .5rem ;
            margin: 2rem 1.5rem 0;
            cursor: pointer ;
            font-family: $fontBold ;
            &:hover{
                color: black ;
            }
        }

        .active{
            font-size: 17px ;
            color: $mainColor ;
            border-bottom: 3px solid $btnColor ;
        }
    }
}


.actived{
    .collapse-header .Title-head{
        font-family: $fontBold;
        color: $address;
        text-decoration: none !important  ;

    }

    .collapse-arrow{
        transform: rotateZ(180deg);
    }
}


.accordion{
    margin: 12rem 0 0 ;
}





//  page condation 
.title-car{
    font-family: $fontBold ;
    color: $mainColor;
    margin-bottom: 2rem ;
}


.container-check{
    padding-bottom: 2rem ;
    border-bottom: 1px solid $borderColor ;
    .check-1{
        margin-top: .8rem ;
    }
}


.style-file{
    position: relative;
    text-align: center;
    label{
        color: rgb(57, 57, 228);
        font-family: $fontBold;
        font-size: 13px ;
        display: block ;
        text-align: center;
    }
}

.file-style{
    height: 160px ;
    cursor: pointer;
    width: 200px ;
    border: dashed 2px  $borderColor;
    position: relative;
    &::after{
            position: absolute;
            content: attr(data-value);
            width: 100% ;
            height: 100% ;
            display: flex;
            justify-content: center;
            align-items: center ;
            font-size: 13px ;
            text-transform: uppercase;
            font-family: $fontBold ;
    }
}

.file-style::-webkit-file-upload-button{
    visibility: hidden;
    appearance: none;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    position: absolute;
    width: 100% ;
    z-index: -1;
}


.btn-previous{
    background: transparent;
    color: $btnColor;
    font-family: $fontBold ;
    border: 1px solid $btnColor  ;
    &:hover{
        background: $btnColor ;
        color: white ;

    }
}

.information{
    padding: 1rem 0 ;
    border-bottom: 1px solid $borderColor ;
    &:last-child{
        border: none ;
    }

    .title{
        font-family: $fontBold;
        font-size: 21px ;
        color: rgb(88, 88, 88);
        display: inline;
    }

    ._value{
        font-family: $fontBold;
    }

    .title-edit{
        display: flex-root;
        a{
            float: right;
        }
    }
    
}





footer{
    margin-top: 7rem ;
}




