@import '../variables.scss';


.breadcrumb{
    padding:  0;
}

.title-para{
    font-size: 1.5rem ;
    margin: 0 ;
}

.title-offer{
    color: $address ;
    font-family: $fontBold ;
}


.accordion{
    margin: 0 ;
    width: 100% ;
}

.collapse-header{
    display: flex;
    font-size: 1.5rem ;
    text-decoration: none ;
    color: grey;
    justify-content: space-between;
    text-decoration: none !important  ;
    align-items: center;
    &:hover{
        color: $mainColor ;
        text-decoration: none !important  ;
        
    }

    .collapse-arrow{
        background: url(../../assets/svg/small-down-arrow-icon-15593.png) no-repeat center center ;
        background-size: 22px 22px  ;
        width: 20px  ;
        transition: transform .4s ;
        height: 20px ;
        background-origin: content-box;
    }
}




.label-style{
    display: block ;
    margin-top: 1.5rem ;
    font-family: $fontBold ;
}

.btn-style{
    font-family: unset ;
    font-size: 16px ;
    margin: 1.5rem 0;

}


.container-article{
    .label-move{
        display: flex;
        justify-content: center;
        color: rgb(107, 106, 106);
        border-bottom: 1px solid $borderColor ;
        label{
            padding: .5rem .5rem ;
            margin: 2rem 1.5rem 0;
            cursor: pointer ;
            font-family: $fontBold ;
            &:hover{
                color: black ;
            }
        }

        .active{
            font-size: 17px ;
            color: $mainColor ;
            border-bottom: 3px solid $btnColor ;
        }
    }
}


.actived{
    .collapse-header .Title-head{
        font-family: $fontBold;
        color: $address;
        text-decoration: none !important  ;

    }

    .collapse-arrow{
        transform: rotateZ(180deg);
    }
}


.accordion{
    margin: 12rem 0 0 ;
}





//  page condation 
.title-car{
    font-family: $fontBold ;
    color: $mainColor;
    margin-bottom: 2rem ;
}


.container-check{
    padding-bottom: 2rem ;
    border-bottom: 1px solid $borderColor ;
    .check-1{
        margin-top: .8rem ;
    }
}


.style-file{
    position: relative;
    text-align: center;
    label{
        color: rgb(57, 57, 228);
        font-family: $fontBold;
        font-size: 13px ;
        display: block ;
        text-align: center;
    }
}

.file-style{
    height: 160px ;
    cursor: pointer;
    width: 200px ;
    border: dashed 2px  $borderColor;
    position: relative;
    &::after{
            position: absolute;
            content: attr(data-value);
            width: 100% ;
            height: 100% ;
            display: flex;
            justify-content: center;
            align-items: center ;
            font-size: 13px ;
            text-transform: uppercase;
            font-family: $fontBold ;
    }
}

.file-style::-webkit-file-upload-button{
    visibility: hidden;
    appearance: none;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    position: absolute;
    width: 100% ;
    z-index: -1;
}


.btn-previous{
    background: transparent;
    color: $btnColor;
    font-family: $fontBold ;
    border: 1px solid $btnColor  ;
    &:hover{
        background: $btnColor ;
        color: white ;

    }
}

.information{
    padding: 1rem 0 ;
    border-bottom: 1px solid $borderColor ;
    &:last-child{
        border: none ;
    }

    .title{
        font-family: $fontBold;
        font-size: 21px ;
        color: rgb(88, 88, 88);
        display: inline;
    }

    ._value{
        font-family: $fontBold;
    }

    .title-edit{
        display: flex-root;
        a{
            float: right;
        }
    }
    
}





footer{
    margin-top: 7rem ;
}




