* {
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: "Sans Regular";
}

.d-none {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, button {
  outline: none;
  border: none;
}

a {
  text-decoration: none !important;
}

.icon_ {
  width: 30px;
  cursor: pointer;
}

.btn-effect:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.input-style {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #f1f1f1;
  font-size: 16px;
}

.my_container {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
}

@font-face {
  src: url("../assets/font/SourceSansPro-Regular.ttf");
  font-family: "Sans Regular";
}

@font-face {
  src: url("../assets/font/SourceSansPro-SemiBold.ttf");
  font-family: "Sans SemiBold";
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100%;
}

.rotation, .profile .content-profile .first-section::after {
  width: 20px;
  background-color: #fff;
  height: 20px;
  position: absolute;
  content: '';
}

.btn-select {
  outline: none !important;
  width: 100%;
  background-color: #00909e;
  color: white;
  margin-top: 1rem;
  border-radius: unset;
  padding: .5rem 0;
  text-align: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.btn-select:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.address {
  font-family: "Sans SemiBold";
  text-align: center;
  margin-top: 1rem;
  font-size: 2.1rem;
}

.width-img {
  width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-style {
  margin: 2rem auto;
  text-align: center;
  padding: .5rem 3rem;
  border-radius: 3px;
  display: block;
  font-size: 1.1rem;
  font-family: "Sans SemiBold";
  background: #00909e;
  color: white;
  outline: none;
}

.btn-style:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.nav_bar {
  width: 100%;
  background-color: #142850;
  z-index: 555;
  height: 48px;
  top: 0;
  left: 0;
}

.nav_bar .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.nav_bar .header-nav .logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.nav_bar .header-nav .icon_ {
  display: none;
}

.nav_bar .my_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}

.nav_bar .main-nav .close {
  display: none;
}

.nav_bar .main-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  height: 100%;
}

.nav_bar .main-nav .nav-list .list-item {
  padding: 0.8rem 0 1px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 0 5px;
}

.nav_bar .main-nav .nav-list .list-item .list-link {
  color: white;
  margin: 0;
  font-size: 15px;
  text-decoration: none;
  padding: 16px;
}

.nav_bar .main-nav .nav-list .list-item .list-link img {
  margin-top: -5px;
}

.nav_bar .main-nav .nav-list .list-item:not(:nth-child(7)):hover {
  background-color: #ffffff33;
}

.nav_bar .main-nav .nav-list .list-item .btn {
  border: 1px solid #e9e9e9;
  padding: 5px 16px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 10px;
  margin-top: -2px;
}

.nav_bar .main-nav .nav-list .list-item .btn:hover {
  color: black;
  background-color: #fff;
}

.profile {
  position: relative;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.profile:hover {
  background-color: transparent !important;
}

.profile .content-profile {
  visibility: hidden;
  z-index: 1000;
  position: absolute;
  background-color: white;
  border: 1px solid #c7c7c7;
  top: 55px;
  right: -15%;
  width: 220px;
  color: black;
  padding: 15px;
}

.profile .content-profile .first-section {
  position: relative;
  font-size: 18px;
  border-bottom: 1px solid #f1f1f1;
}

.profile .content-profile .first-section::after {
  top: -20px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  right: -5px;
}

.profile .content-profile .first-section p,
.profile .content-profile .first-section .logIn {
  display: block;
  padding: 0;
  margin: 0;
  color: #000;
}

.profile .content-profile .first-section .btn-secondry {
  width: 100%;
  text-align: center;
  padding: 0.7rem 0;
  font-size: 18px;
  color: white;
  margin: 0.8rem 0;
  border-radius: 5px;
  background-color: #9c2731;
  cursor: pointer;
}

.profile .content-profile .first-section .logIn {
  font-size: 14px;
  margin-bottom: 0.8rem;
  color: #383737;
}

.profile .content-profile .first-section .logIn a {
  color: blue;
  margin: 0;
  padding: 0;
  font-family: "Sans SemiBold";
}

.profile .content-profile .last-section {
  width: 100%;
}

.profile .content-profile .last-section .movement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5c5c5c;
  padding: 10px 0;
}

.profile .content-profile .last-section .movement .icon_ {
  width: 21px;
  margin-right: 15px;
  opacity: 0.6;
}

.profile .content-profile .last-section .movement:hover {
  color: black;
  font-family: "Sans SemiBold";
}

.profile .content-profile .last-section .movement:hover .icon_ {
  opacity: 1;
}

@media (max-width: 1010px) {
  .main-nav {
    z-index: 1000;
    background-color: white;
    height: 100vh;
    display: block;
    position: absolute;
    right: -50rem;
    width: 30%;
    min-width: 350px !important;
    border-left: 1px solid #f1f1f1;
    -webkit-transition: right 0.6s;
    transition: right 0.6s;
  }
  .main-nav .close {
    display: block !important;
    margin-left: auto;
    padding: 0.5rem 0;
  }
  .main-nav ul {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-nav ul li .list-link {
    color: black !important;
    font-size: 17px !important;
    padding-left: 0 !important;
  }
  .main-nav ul li:nth-child(7) {
    display: none;
  }
  .main-nav ul li:last-of-type {
    visibility: hidden;
    height: 18rem;
  }
  .main-nav ul li:last-of-type .content-profile {
    visibility: visible !important;
    left: 0;
    border: none;
    top: 0;
    width: 90%;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid #f1f1f1;
  }
  .main-nav ul li:last-of-type .content-profile button {
    width: 15rem;
  }
  .header-nav {
    width: 100%;
  }
  .header-nav .icon_ {
    display: block !important;
    position: absolute;
    right: 0;
    top: 7px;
  }
}

footer {
  background-color: #142850;
  color: white;
  padding-top: 2rem;
}

footer .my_container {
  position: relative;
}

footer .content-about {
  display: inline-table;
  margin-right: 10%;
  margin-bottom: 2rem;
}

footer .content-about .address-about {
  font-family: "Sans SemiBold";
  font-size: 18px;
  margin-bottom: .5rem;
}

footer .content-about .about-link {
  margin: .4rem 0;
}

footer .content-about .about-link a {
  color: #00909e;
  font-size: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .content-about .about-link a:hover {
  color: white;
}

footer .social-media {
  position: absolute;
  right: 0;
  top: 0;
}

footer .social-media svg {
  width: 30px;
  height: 30px;
  fill: white;
  margin: 0 1rem;
}

footer .terms {
  background-color: #00909e;
  padding: .5rem 0;
}

footer .terms a {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 1.5rem;
  font-size: 14px;
}

footer .terms a:hover {
  color: white;
}

footer .terms .copyR {
  font-size: 14px;
  float: right;
}

body, html {
  height: 100%;
}

.address-header {
  padding: 0.5rem 0;
  padding-bottom: 0.8rem;
  border: 1px solid #ddd;
}

.address-header .address {
  text-align: left;
  font-size: 1.8rem;
}

.filterContent {
  width: 300px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-top: none;
  margin-bottom: 2rem;
}

.filterContent .result {
  margin: 1rem 0;
  margin-top: 0;
  padding-top: 1rem;
  text-align: center;
}

.filterContent .result span {
  font-family: "Sans SemiBold";
}

.filterContent .style-section {
  padding: 0.8rem 1rem;
  border-top: 1px solid #ddd;
}

.filterContent .style-section .address-form {
  font-family: "Sans SemiBold";
  font-size: 16.666px;
  display: inline-block;
}

.filterContent .style-section .input-style {
  border: none;
  padding: 0;
  margin-top: 12px;
  width: 100%;
}

.filterContent .style-section .input-style label {
  display: block;
  margin: 0;
  margin-bottom: 3px;
}

.filterContent .style-section .input-style select,
.filterContent .style-section .input-style input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.filterContent .style-section .input-2 {
  margin-bottom: 12px;
}

.check-1 label, .radio-btn label, .input-style label {
  color: #727272;
}

.check-1 input:checked + label, .radio-btn input:checked + label, .input-style input:checked + label {
  color: black;
}

#newSearch .input-style {
  border: none;
}

#newSearch .input-style:nth-child(1) {
  padding-top: 1rem;
}

#newSearch select {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ddd;
}

#newSearch .btn-select {
  margin: 0;
}

.head-btn {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-btn #Sort {
  display: none;
}

.head-btn label {
  padding: 0.5rem 2.1rem;
  text-align: center;
  cursor: pointer;
  margin: 0;
  border-radius: 3px 3px 0 0;
  background-color: #f0f0f0;
  color: #7a7a7a;
}

.head-btn .checked {
  background-color: #fff;
  color: black;
  border: 1px solid #ddd;
  border-bottom: none;
  font-family: "Sans SemiBold";
}

.details {
  display: none;
}

.address-inp {
  color: black !important;
}

.appear, select, .cb-style, .globalCss, input[type="radio"], input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select, .cb-style {
  background: url(../../assets/svg/small-down-arrow-icon-15593.png);
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right;
  background-origin: content-box;
}

.globalCss, input[type="radio"], input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: relative;
  border: 1px solid #c6c6c6;
  color: #666;
  top: 1px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 4px;
  outline: none;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked::before {
  content: "";
  background: #00909e;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 1.8px;
  left: 2px;
  border-radius: 50%;
}

input[type="checkbox"] {
  border-radius: 1px;
  height: 14px;
  width: 14px;
  top: 2px;
}

input[type="checkbox"]:checked {
  background-color: #00909e;
}

main .my_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.content-cars {
  display: inline-block;
  width: calc(100% - 310px);
}

.content-cars .sort-cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
}

.content-cars .sort-cars label {
  font-family: "Sans SemiBold";
  font-size: 16px;
  padding-top: 5px;
}

.content-cars .sort-cars select {
  margin-left: 10px;
  padding: .3rem .6rem;
  border: 1px solid #ddd;
  background-color: white !important;
  width: 30% !important;
}

.car-details {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car-details > * {
  width: 50%;
}

.car-details form {
  padding: .5rem 1rem;
  position: relative;
}

.car-details form .btns {
  position: absolute;
  right: 1rem;
}

.car-details form .btns .favorite {
  width: 16.666px;
  margin-right: 4px;
  fill: transparent;
  stroke: #3d3d3d;
  cursor: pointer;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.car-details form .btns .favorite:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.car-details form .btns .fill {
  fill: red;
}

.car-details form .btns label:nth-child(2) {
  margin-right: 10px;
}

.car-details form span {
  font-size: 15px;
  font-family: "Sans SemiBold";
  color: #6e6d6d;
}

.car-details form .desc-car .Used {
  display: block;
  color: #1e1ec4 !important;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.car-details form .desc-car .price {
  display: inline;
  padding-right: 10px;
}

.car-details form .desc-car .mile {
  border-left: 1px solid #ddd;
  padding-left: 5px;
}

.car-details form .desc-car .nameCar {
  font-family: "Sans SemiBold";
  margin: 1rem 0;
}

.car-details form .desc-car .specific-car .keySp {
  color: black;
}

.car-details form .desc-car .specific-car .ValueSP {
  font-family: "Sans Regular";
  margin-left: 5px;
}

.details .Color {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: 1px solid #ddd;
  margin-right: 5px;
}

.details .check-1:nth-child(1) .Color {
  background: #cec872;
}

.details .check-1:nth-child(2) .Color {
  background: black;
}

.details .check-1:nth-child(3) .Color {
  background: #fff;
}

.details .check-1:nth-child(4) .Color {
  background: red;
}

.Features-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.deal {
  padding: .2rem .6rem;
  text-transform: uppercase;
  font-size: 12px !important;
  margin-right: 3px;
  min-width: 80px;
  text-align: center;
  background: #142850;
  color: white !important;
}

.great {
  background-color: #00909e !important;
}

.good {
  color: #fff !important;
  background-color: #559e55;
}

.btn-call {
  display: none;
}

.cb-style {
  float: right;
  cursor: pointer;
  background-position: center center;
  border: none !important;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cb-style:checked:before {
  background-image: none !important;
}

.cb-style:checked {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: transparent !important;
}

.cb-style:checked + .details {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: "Sans Regular";
}

.d-none {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, button {
  outline: none;
  border: none;
}

a {
  text-decoration: none !important;
}

.icon_ {
  width: 30px;
  cursor: pointer;
}

.btn-effect:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.input-style {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #f1f1f1;
  font-size: 16px;
}

.my_container {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
}

.content-filter {
  border: 1px solid #ddd;
  padding: 1rem;
  background-color: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 350px !important;
  margin-bottom: 5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.input-style {
  padding: 0;
  border: none;
}

.input-style input:not([type="checkbox"]),
.input-style select,
.input-style textarea {
  border: 1px solid #cccccc;
  padding: 0.4rem 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #fff !important;
}

.input-style input:not([type="checkbox"]):focus,
.input-style select:focus,
.input-style textarea:focus {
  outline: 2px solid rgba(8, 8, 248, 0.377);
}

.input-style label {
  margin-bottom: 5px;
  color: black;
  font-family: "Sans SemiBold";
}

.contact-seller {
  text-align: center;
  color: #00909e;
}

.contact-seller .address-call {
  font-family: "Sans SemiBold";
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.contact-seller #phone {
  font-family: "Sans SemiBold";
  color: black !important;
  font-size: 19px;
}

.contact-seller #phone img {
  width: 12px;
  margin-right: 2px;
  border: 1px solid #666666;
  border-radius: 50%;
  padding: 3px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

textarea {
  margin-top: 10px;
}

::-webkit-inner-spin-button {
  display: none;
}

.labels-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}

.labels-contact > * {
  text-align: center;
  font-size: 19px;
  margin: 0 1rem;
  color: grey;
  cursor: pointer;
}

.labels-contact > *:hover {
  color: black;
}

.labels-contact .active {
  font-family: "Sans SemiBold";
  border-bottom: 3px solid #00909e;
  color: black;
  padding: 0 8px 8px;
}

.tradeResult #trade {
  font-size: 15px !important;
  font-family: "Sans Regular";
  margin-bottom: 1rem;
  color: #7a7a7a;
}

.tradeResult #tradeIN:checked + #trade {
  color: black;
}

.tradeResult #tradeIN:checked ~ #tradeR {
  display: block;
}

.tradeResult #tradeR {
  display: none;
}

.tradeResult .input-2 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tradeResult .input-2 > * {
  width: 49% !important;
}

.Select-employee {
  margin: 1rem 0;
}

.Select-employee label {
  text-align: center;
  display: block;
}

.Select-employee .name-emp {
  text-align: center;
  margin: 0;
  font-family: "Sans SemiBold";
  font-size: 19px;
}

.Select-employee .job-name {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-family: "Sans SemiBold";
  color: grey;
}

.Select-employee .list-employee {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.Select-employee .list-employee > * {
  width: 50px;
  cursor: pointer;
  padding: 2px;
  margin: 0 3px;
  border-radius: 50%;
  opacity: 0.4;
}

.Select-employee .list-employee .active {
  opacity: 1;
  border: 1px solid blue;
}

main .my_container {
  display: block;
  margin-top: 0;
}

.back-page {
  margin: 1rem 0;
}

.back-page a {
  font-size: 18px;
  font-family: "Sans SemiBold";
  color: #00909e;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.back-page i {
  margin-right: 10px;
}

.pics-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.pics-car > * {
  width: 100px;
  margin-right: 10px;
}

.info-car {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  width: calc(100% - 400px);
  display: flow-root;
}

.info-seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.2rem 0;
}

.info-seller .btn-save {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 7px 25px;
  background: white;
  color: #444343;
  text-align: center;
  font-size: 18px;
}

.info-seller .btn-save svg {
  width: 25px;
  height: 22px;
  fill: transparent;
  stroke: black;
  stroke-width: 15px;
}

#price {
  font-size: 2.2rem;
  font-family: "Sans SemiBold";
  margin: 0.5rem 0;
}

#soldBy {
  font-size: 1.2rem;
}

#soldBy .sold_by {
  font-family: "Sans SemiBold";
  color: #504f4f;
}

#soldBy .name-sold {
  font-family: "Sans SemiBold";
}

#soldBy .location {
  display: inline-block;
  margin-left: 2rem;
}

#soldBy .location svg {
  width: 17px;
  height: 16px;
  fill: #2563d6;
  stroke: transparent;
}

#ratingVote {
  margin: 0.2rem 0;
  padding-bottom: 1rem;
}

#ratingVote .fa-star {
  cursor: pointer;
}

#ratingVote .filler {
  color: #e7af15;
}

#ratingVote #rating {
  margin: 0 10px;
  margin-left: 5px;
}

#ratingVote #linkVoter {
  font-family: "Sans SemiBold";
  font-size: 14px;
}

#ratingVote #linkVoter #lengthVoter {
  margin-right: 2px;
}

.address-car {
  margin: 0;
  margin-top: 2rem;
  font-family: "Sans SemiBold";
  font-size: 1.7rem;
}

#basics .address-car {
  margin-bottom: 0.2rem;
}

#basics .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#basics .content-list ul {
  width: 350px;
  list-style: disc;
  padding: 0 1rem;
}

#property-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#property-car > * {
  width: 350px;
}

#property-car ul {
  list-style: disc;
  padding: 1.2rem;
  padding-top: 0;
}

.property {
  font-family: "Sans SemiBold";
}

.carousel {
  width: calc(100% - 400px);
  float: left;
  border: 1px solid #ddd;
  border-bottom: none;
  background: white;
  height: auto;
  padding-bottom: 1rem;
}

.info-content {
  padding: 1rem;
}

#info-contact {
  width: 300px;
  float: right;
}

@media (max-width: 930px) {
  .carousel, .info-car, .content-filter {
    float: none !important;
    width: 100% !important;
  }
  #info-contact {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    border-bottom: none;
  }
  #info-contact .input-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #info-contact .input-2 > * {
    width: 49% !important;
  }
}
/*# sourceMappingURL=review.css.map */